/* Gruvbox Dark userChrome.css */

@media (prefers-color-scheme: dark) {
    :root {
        --zen-colors-primary: #32302f !important;
        --zen-primary-color: #8ec07c !important;
        --zen-colors-secondary: #32302f !important;
        --zen-colors-tertiary: #1d2021 !important;
        --zen-colors-border: #8ec07c !important;

        --toolbarbutton-icon-fill: #8ec07c !important;

        --lwt-text-color: #ebdbb2 !important;
        --toolbar-field-color: #ebdbb2 !important;
        --tab-selected-textcolor: #ebdbb2 !important;
        --toolbar-field-focus-color: #ebdbb2 !important;
        --toolbar-color: #ebdbb2 !important;
        --newtab-text-primary-color: #ebdbb2 !important;
        --arrowpanel-color: #ebdbb2 !important;

        --arrowpanel-background: #1d2021 !important;

        --sidebar-text-color: #ebdbb2 !important;
        --lwt-sidebar-text-color: #ebdbb2 !important;
        --lwt-sidebar-background-color: #1d2021 !important;

        --toolbar-bgcolor: #32302f !important;
        --newtab-background-color: #1d2021 !important;
        --zen-themed-toolbar-bg: #1d2021 !important;
        --zen-main-browser-background: #1d2021 !important;
        --toolbox-bgcolor-inactive: #1d2021 !important;
    }

    #permissions-granted-icon {
        color: #1d2021 !important;
    }

    .sidebar-placesTree {
        background-color: #1d2021 !important;
    }

    #zen-workspaces-button {
        background-color: #1d2021 !important;
    }

    #TabsToolbar {
        background-color: #1d2021 !important;
    }

    .urlbar-background {
        background-color: #32302f !important;
    }

    .content-shortcuts {
        background-color: #32302f !important;
        border-color: #8ec07c !important;
    }

    .urlbarView-url {
        color: #8ec07c !important;
    }

    #zenEditBookmarkPanelFaviconContainer {
        background: #1d2021 !important;
    }

    #zen-media-controls-toolbar {
        & #zen-media-progress-bar {
            &::-moz-range-track {
                background: #504945 !important;
            }
        }
    }

    toolbar .toolbarbutton-1 {
        &:not([disabled]) {

            &:is([open], [checked])> :is(.toolbarbutton-icon,
                .toolbarbutton-text,
                .toolbarbutton-badge-stack) {
                fill: #1d2021;
            }
        }
    }

    /* Container / Identity colors */
    .identity-color-blue {
        --identity-tab-color: #83a598 !important;
        --identity-icon-color: #83a598 !important;
    }

    .identity-color-turquoise {
        --identity-tab-color: #8ec07c !important;
        --identity-icon-color: #8ec07c !important;
    }

    .identity-color-green {
        --identity-tab-color: #b8bb26 !important;
        --identity-icon-color: #b8bb26 !important;
    }

    .identity-color-yellow {
        --identity-tab-color: #fabd2f !important;
        --identity-icon-color: #fabd2f !important;
    }

    .identity-color-orange {
        --identity-tab-color: #fe8019 !important;
        --identity-icon-color: #fe8019 !important;
    }

    .identity-color-red {
        --identity-tab-color: #fb4934 !important;
        --identity-icon-color: #fb4934 !important;
    }

    .identity-color-pink {
        --identity-tab-color: #d3869b !important;
        --identity-icon-color: #d3869b !important;
    }

    .identity-color-purple {
        --identity-tab-color: #b16286 !important;
        --identity-icon-color: #b16286 !important;
    }

    hbox#titlebar {
        background-color: #1d2021 !important;
    }

    #zen-appcontent-navbar-container {
        background-color: #1d2021 !important;
    }
}